h1 {
    text-align: center;
    margin-top: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none; 
    border-radius: 5px;
}

.btn-create-address {
    position: fixed;
    top: 100px;
    right: 20px;
}

.btn-logout {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

table {
    margin-top: 50px;
}

table button {
    margin-right: 5px;
}

.emptyAddress {
    text-align: center;
}

.alert {
    text-align: center;
    width: 50%;
    margin-left: 450px;
}

.text-right {
    text-align: center;
}

.searchAddresses {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchAddresses input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; 
    margin-right: 10px;
}

.searchAddresses button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.searchAddresses button:hover {
    background-color: #0056b3;
}
