<h1>Gerenciamento de Endereços e Veículos</h1>

<mat-tab-group>

  <mat-tab label="Endereços">
    <h2>Lista de Endereços Cadastrados</h2>
    <div class="alert alert-success" role="alert" *ngIf="showDeletedAlert">
        Endereço deletado com sucesso!
    </div>
    <div class="alert alert-success" role="alert" *ngIf="showCreatedAlert">
        Endereço criado com sucesso!
    </div>
    <div class="alert alert-success" role="alert" *ngIf="showUpdatedAlert">
        Endereço atualizado com sucesso!
    </div>

    <button mat-raised-button class="btn-create-address btn-primary" color="primary" (click)="openCreateModal()">Cadastrar novo endereço</button>

    <div class="searchAddresses">
      <input type="search" [(ngModel)]="searchTerm" placeholder="Buscar endereço...">
      <button mat-raised-button color="primary" (click)="searchAddresses()">
          <img src="assets/search_icon.png" alt="icone de busca">
      </button>
    </div>

    <table mat-table [dataSource]="addressDataSource" matSort>

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let a; let i = index"> {{ i + 1 }} </td>
        </ng-container>
      
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
          <td mat-cell *matCellDef="let a"> {{ a.street }} </td>
        </ng-container>
      
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
          <td mat-cell *matCellDef="let a"> {{ a.number }} </td>
        </ng-container>
      
        <ng-container matColumnDef="complement">
          <th mat-header-cell *matHeaderCellDef> Complemento </th>
          <td mat-cell *matCellDef="let a"> {{ a.complement }} </td>
        </ng-container>
      
        <ng-container matColumnDef="neighborhood">
          <th mat-header-cell *matHeaderCellDef> Bairro </th>
          <td mat-cell *matCellDef="let a"> {{ a.neighborhood }} </td>
        </ng-container>
      
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Cidade </th>
          <td mat-cell *matCellDef="let a"> {{ a.city }} </td>
        </ng-container>
      
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let a"> {{ a.state }} </td>
        </ng-container>
      
        <ng-container matColumnDef="zipCode">
          <th mat-header-cell *matHeaderCellDef> CEP </th>
          <td mat-cell *matCellDef="let a"> {{ a.zipCode }} </td>
        </ng-container>
      
        <ng-container matColumnDef="userCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nº de moradores </th>
          <td mat-cell *matCellDef="let a"> {{ a.userCount }} </td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let a">
            <!-- <button class="btn btn-primary" (click)="openEditModal(a)">
              <img src="assets/edit_icon.png" alt="icone de edição">
            </button>
            <button class="btn btn-danger" (click)="openDeleteModal(a)">
              <img src="assets/trash_icon.png" alt="icone de exclusão">
            </button> -->
            <button mat-icon-button (click)="openEditModal(a)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteModal(a)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>

  <mat-tab label="Veículos">
    <h2>Lista de Veículos Cadastrados</h2>
    <div class="alert alert-success" role="alert" *ngIf="showVehicleDeletedAlert">
        Veículo deletado com sucesso!
    </div>
    <div class="alert alert-success" role="alert" *ngIf="showVehicleCreatedAlert">
        Veículo cadastrado com sucesso!
    </div>
    <div class="alert alert-success" role="alert" *ngIf="showVehicleUpdatedAlert">
        Veículo atualizado com sucesso!
    </div>

    <button mat-raised-button class="btn-create-vehicle btn-primary" color="primary" (click)="openCreateVehicleModal()">Cadastrar novo veículo</button>

    <div class="searchVehicles">
      <input type="search" [(ngModel)]="vehicleSearchTerm" placeholder="Buscar veículo...">
      <button mat-raised-button color="primary" (click)="searchVehicles()">
          <img src="assets/search_icon.png" alt="icone de busca">
      </button>
    </div>

    <table mat-table [dataSource]="vehicleDataSource" matSort>
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let v; let i = index"> {{ i + 1 }} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let v"> {{ v.model }} </td>
      </ng-container>

      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let v"> {{ v.color }} </td>
      </ng-container>

      <ng-container matColumnDef="licenseNumber">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let v"> {{ v.licenseNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let v"> {{ v.year }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let v">
          <button mat-icon-button (click)="openEditVehicleModal(v)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteVehicleModal(v)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedVehicleColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedVehicleColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
  </mat-tab>

</mat-tab-group>
<!-- <input type="button" value="Sair" class="btn btn-secondary" (click)="onLogout()"> -->
<button mat-raised-button class="btn-logout" color="primary" (click)="onLogout()">Sair</button>