<h1>Lista de Endereços Cadastrados</h1>
<input type="button" value="Cadastrar novo endereço" class="btn btn-primary">
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td> 13 </td>
            <td> Rua das Floresssssssssssssssssssssssssssssss </td>
            <td> 123 </td>
            <td> Apartamento 101 </td>
            <td> Centro </td>
            <td> São Paulo </td>
            <td> SP </td>
            <td> 01234-567 </td>
            <td>
                <button class="btn btn-primary" ><img src="assets/edit_icon.png" alt="icone de edição"></button>
                <button class="btn btn-danger" ><img src="assets/trash_icon.png" alt="icone de exclusão"></button>
            </td>
        </tr>
        <tr>
            <td> 13 </td>
            <td> Rua das Floressssssssssssss </td>
            <td> 123 </td>
            <td> Apartamento 101 </td>
            <td> Centro </td>
            <td> São Paulo </td>
            <td> SP </td>
            <td> 01234-567 </td>
            <td>
                <button class="btn btn-primary" ><img src="assets/edit_icon.png" alt="icone de edição"></button>
                <button class="btn btn-danger" ><img src="assets/trash_icon.png" alt="icone de exclusão"></button>
            </td>
        </tr>
    </tbody>
</table>
<input type="button" value="Sair" class="btn btn-secondary" >