h1 {
    text-align: center;
    margin-top: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
}

input[type="button"].btn-primary {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

input[type="button"].btn-secondary {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
}

table {
    margin-top: 50px;
}

table button {
    margin-right: 5px;
}

.emptyAddress {
    text-align: center;
}

.alert {
    text-align: center;
    width: 50%;
    margin-left: 450px;
}

.text-right {
    text-align: center;
}