<h1>Lista de Endereços Cadastrados</h1>
<div class="alert alert-success" role="alert" *ngIf="showDeletedAlert">
    Endereço deletado com sucesso!
</div>
<div class="alert alert-success" role="alert" *ngIf="showCreatedAlert">
    Endereço criado com sucesso!
</div>
<div class="alert alert-success" role="alert" *ngIf="showUpdatedAlert">
    Endereço atualizado com sucesso!
</div>
<input type="button" value="Cadastrar novo endereço" class="btn btn-primary" (click)="openCreateModal()">
<div class="searchAddresses">
    <input type="search" [(ngModel)]="searchTerm" placeholder="Buscar endereço...">
    <button class="btn btn-primary" (click)="searchAddresses()"><img src="assets/search_icon.png" alt="icone de busca"></button>
</div>
<table class="table">
    <thead *ngIf="addresses.length > 0">
        <tr>
            <th>#</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Complemento</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let a of addresses | paginate: {itemsPerPage: counter, currentPage: pag}; index as i">
            <td> {{i+1}} </td>
            <td> {{a.street}} </td>
            <td> {{a.number}} </td>
            <td> {{a.complement}} </td>
            <td> {{a.neighborhood}} </td>
            <td> {{a.city}} </td>
            <td> {{a.state}} </td>
            <td> {{a.zipCode}} </td>
            <td>
                <button class="btn btn-primary" (click)="openEditModal(a)" ><img src="assets/edit_icon.png" alt="icone de edição"></button>
                <button class="btn btn-danger" (click)="openDeleteModal(a)" ><img src="assets/trash_icon.png" alt="icone de exclusão"></button>
            </td>
        </tr>
        <tr *ngIf="addresses.length == 0">
            <td colspan="9" class="emptyAddress"><h2>Você ainda não possui nenhum endereço cadastrado</h2></td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <pagination-controls (pageChange)="pag = $event"></pagination-controls>
</div>
<input type="button" value="Sair" class="btn btn-secondary" (click)="onLogout()">