<div *ngIf="zipCodeError" class="text-danger"><h2>{{ zipCodeError }}</h2></div>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Editar Endereço</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-outline">
        <input type="text" id="addressZipCode" class="form-control" maxlength="8" placeholder="CEP (*)" name="zipCode" [(ngModel)]="address.zipCode" required (change)="searchAddressByZipCode(address.zipCode)" (input)="formatZipCode($event)>
      </div>
  
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="addressStreet" class="form-control" placeholder="Endereço (*)" name="street" [(ngModel)]="address.street" required>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="addressNumber" class="form-control" placeholder="Número (*)" name="number" [(ngModel)]="address.number" required>
        </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="addressComplement" class="form-control" placeholder="Complemento" name="complement" [(ngModel)]="address.complement">
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="addressNeighborhood" class="form-control" placeholder="Bairro (*)" name="neighborhood" [(ngModel)]="address.neighborhood" required>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <div class="form-outline">
            <input type="text" id="city" class="form-control" placeholder="Cidade (*)" name="city" [(ngModel)]="address.city" required>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <input type="text" id="state" class="form-control" placeholder="Estado (*)" name="state" [(ngModel)]="address.state" required>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="updateAddress()">Salvar alterações</button>
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Cancelar
      </button>
    </div>
  </form>
  </div>